@model TagIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="row mt-4">
    <div class="col-lg-9 col-md-12 col-12 mb-3">
        <div class="row">
            <div class="col">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="m-0 small-caps">Blogs - @Model.TagName</h2>
                    </div>
                    @{
                        var result = await AuthorizationService.AuthorizeAsync(User, "BlogCreate");

                        if (result.Succeeded)
                        {
                            <div class="col text-end">
                                <a class="btn btn-primary rounded-1 border-2 border-primary-subtle" asp-action="Create" asp-controller="Blog">Create Post</a>
                            </div>
                        }
                    }

                </div>

                <hr class="border-2" />
            </div>

        </div>

        <div class="row justify-content-start">

            @{
                for (int i = 0; i < Model.BlogPosts.Count; i++)
                {
                    <div class="col-12 mb-2">
                        <partial name="_BlogPostItemHomePartial" model="Model.BlogPosts[i]">
                    </div>

                }
            }

        </div>


        <div class="row">
            <nav aria-label="Page navigation">

                <div class="col">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            @{
                                if (Model.CurrentPage - 1 <= 0)
                                {
                                    <a class="page-link" asp-action="Index" asp-controller="Tag" asp-route-tagId="@Model.TagId" asp-route-currentPage="1">Previous</a>
                                }

                                else
                                {
                                    <a class="page-link" asp-action="Index" asp-controller="Tag" asp-route-tagId="@Model.TagId" asp-route-currentPage="@(Model.CurrentPage-1)">Previous</a>
                                }

                            }

                        </li>

                        @{
                            for (int i = 1; i <= Model.NumOfPages; i++)
                            {
                                if (i == Model.CurrentPage)
                                {
                                    <li class="page-item active" aria-current="page"><a class="page-link" asp-action="Index" asp-controller="Tag" asp-route-tagId="@Model.TagId" asp-route-currentPage="@i">@i</a></li>
                                    continue;
                                }

                                <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Tag" asp-route-tagId="@Model.TagId" asp-route-currentPage="@i">@i</a></li>
                            }
                        }

                        <li class="page-item">
                            @{
                                if (Model.CurrentPage + 1 > Model.NumOfPages)
                                {
                                    <a class="page-link" asp-action="Index" asp-controller="Tag" asp-route-tagId="@Model.TagId" asp-route-currentPage="@Model.CurrentPage">Next</a>
                                }

                                else
                                {
                                    <a class="page-link" asp-action="Index" asp-controller="Tag" asp-route-tagId="@Model.TagId" asp-route-currentPage="@(Model.CurrentPage+1)">Next</a>
                                }

                            }
                        </li>
                    </ul>
                </div>

            </nav>
        </div>

    </div>

    <!-- Blog Sidebar navigation -Start- -->
    <div class="col-lg-3 col-md-12 col-12">
        <div class="row">
            <div class="col">
                <partial name="_SidebarBlogNavigationPartial" model="Model.DictPostedOn" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <partial name="_TagsLinks" model="Model.TagBlogPostCountDatas" />
            </div>
        </div>

    </div>

    <!-- Blog Sidebar navigation -End- -->
</div>

